@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-100: #f7ecff;
  --color-primary-200: #e7d6fb;
  --color-primary-300: #caaaf1;
  --color-primary-400: #ac7ce8;
  --color-primary-500: #9354e0;
  --color-primary-600: #833bdb;
  --color-primary-700: #7b2eda;
  --color-primary-800: #6921c2;
  --color-primary-900: #5d1cae;
  --color-primary-1000: #501599;
  --color-secondary-100: #ffebff;
  --color-secondary-200: #f5d5fb;
  --color-secondary-300: #e6a8f3;
  --color-secondary-400: #d779eb;
  --color-secondary-500: #cb51e4;
  --color-secondary-600: #c337e0;
  --color-secondary-700: #c02adf;
  --color-secondary-800: #a91cc6;
  --color-secondary-900: #9715b1;
  --color-secondary-1000: #84099c;
}

@layer base {
  :root {
    --font-source-sans: "Roboto", sans-serif;
    --font-oswald: "Instrument Serif", serif;
  }

  html {
    font-size: 20px;
  }

  body {
    font-family: var(--font-source-sans);
  }

  a {
    font-weight: 600;
    text-decoration: underline;
  }

  p {
    margin-bottom: 24px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-oswald);
    margin-bottom: 32px;
  }

  h1 {
    font-size: 5.75rem;
    line-height: 5.75rem;
  }

  h2 {
    font-size: 3rem;
    line-height: 3rem;
  }

  h3 {
    font-size: 2rem;
    line-height: 2rem;
  }

  h4 {
    font-size: 1.825rem;
    line-height: 1.825rem;
  }

  h5 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  h6 {
    font-size: 1.25rem;
    line-height: 1.25rem;
  }

  @keyframes blink {
    0%,
    50%,
    100% {
      border-color: white;
    }
    25%,
    75% {
      border-color: transparent;
    }
  }

  .animate-blink {
    animation: blink 1s step-end infinite;
  }
}

@layer components {
  .link-underline::after {
    @apply absolute left-0 bottom-1 w-full h-[2px] bg-white opacity-0 translate-y-1 transition-all duration-300 ease-in-out content-[''];
  }

  .link-underline:hover::after {
    @apply opacity-100 translate-y-0;
  }
}
