@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-100: #f5ecff;
  --color-primary-200: #e4d5fc;
  --color-primary-300: #c6a7f4;
  --color-primary-400: #a677ec;
  --color-primary-500: #8b4ee6;
  --color-primary-600: #7a34e2;
  --color-primary-700: #7126e2;
  --color-primary-800: #631bcf;
  --color-primary-900: #5516b4;
  --color-primary-1000: #490f9f;
}

@layer base {
  :root {
    --font-source-sans: "Roboto", sans-serif;
    --font-oswald: "Instrument Serif", serif;
  }

  html {
    font-size: 20px;
  }

  body {
    font-family: var(--font-source-sans);
  }

  a {
    font-weight: 600;
    text-decoration: underline;
  }

  p {
    margin-bottom: 24px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-oswald);
    margin-bottom: 32px;
  }

  h1 {
    font-size: 5.75rem;
    line-height: 5.75rem;
  }

  h2 {
    font-size: 3rem;
    line-height: 3rem;
  }

  h3 {
    font-size: 2rem;
    line-height: 2rem;
  }

  h4 {
    font-size: 1.825rem;
    line-height: 1.825rem;
  }

  h5 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  h6 {
    font-size: 1.25rem;
    line-height: 1.25rem;
  }

  @keyframes blink {
    0%,
    50%,
    100% {
      border-color: white;
    }
    25%,
    75% {
      border-color: transparent;
    }
  }

  .animate-blink {
    animation: blink 1s step-end infinite;
  }

  @keyframes scroll {
    0% {
      transform: translateY(0);
    }
    30% {
      transform: translateY(80px);
    }
  }

  svg #wheel {
    animation: scroll ease 2s infinite;
  }
}

@layer components {
  .link-underline::after {
    @apply absolute left-0 bottom-1 w-full h-[2px] bg-white opacity-0 translate-y-1 transition-all duration-300 ease-in-out content-[''];
  }

  .link-underline:hover::after {
    @apply opacity-100 translate-y-0;
  }
}
